.callAction {
    &__inner {
        @include display-f(row, center, space-between);
        &_info {
            width: 459px;
            &--title {
                width: 286px;
                font-weight: 500;
                font-size: 40px;
                line-height: 40px;
                color: #FFFFFF;
            }
            &--text {
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                color: #FFFFFF;
            }
        }
        .link {
            text-decoration: none;
        }
    }
}